[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master
[submodule "external/astc-encoder"]
	path = external/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
	branch = 3.x
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = v1.14.x
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
	branch = v1.19
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
	branch = master
[submodule "external/libogg"]
	path = external/libogg
	url = https://github.com/gcp/libogg.git
	branch = master
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "external/mimalloc"]
	path = external/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = master
